# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cc,hh,lua,vim}]
indent_size = 2

# verilog
[*.{v,sv,vh,svh}]
indent_size = 3

[*.py]
indent_size = 4
